<div class="bg-main grid grid-cols-4 px-20 py-16 gap-10 footer">
  <div class="flex flex-col gap-6 logo">
    <img src="../../assets/logo.svg" class="w-32 grayscale" alt="" />
    <div class="flex gap-4 social">
      <img src="../../assets/socialIcons/social-1.svg" alt="" />
      <img src="../../assets/socialIcons/social-2.svg" alt="" />
      <img src="../../assets/socialIcons/social-3.svg" alt="" />
    </div>
    <p class="text-xs text-text-g">
      Copyrights reserved by Fabmatic Trading WLL &copy; 2023
    </p>
  </div>
  <div class="flex flex-col gap-4 text-text-g company">
    <p class="text-white font-bold">Company</p>
    <p>Overview</p>
    <p>Services</p>
    <p>Products</p>
    <p>Quality</p>
  </div>
  <div class="flex flex-col gap-4 text-text-g whitespace-nowrap">
    <p class="text-white font-black">About</p>
    <p>Home</p>
    <p>About us</p>
    <p>Product PDFs</p>
  </div>
  <div class="flex flex-col gap-4 text-text-g address">
    <p class="text-white font-black">Address</p>
    <p class="leading-8 whitespace-nowrap">
      Bldg. No. 238, Ground floor,
      <br />
      361 Mohammed bin thani street, <br />
      Zon 37, Bin Omaran, <br />
      Doha, Quatar
    </p>
  </div>
</div>
<p class="text-xs text-gray-400 bg-main text-center p-4">
  Designed & Development by AJ Designs & Developments
</p>
