@media screen and (max-width: 800px) {
  .social img {
    width: 15%;
  }
}

@media screen and (max-width: 670px) {
  .footer {
    grid-template-columns: 1fr 1fr;
    grid-column: span 2;
    justify-items: start;
  }
  .social img {
    width: 10%;
    padding-left: 0;
  }

  .footer div:nth-child(1) {
    grid-column: 1;
    grid-row: 2/ 2;
  }
  .footer .company {
    padding-left: 2rem;
  }

  .footer div:nth-child(3) {
    padding-left: -2rem;
  }
  .address {
    align-self: end;
  }

  .grayscale {
    width: 6rem;
  }
}
