<div class="w-screen main-section relative mt-10">
  <div class="h-full w-screen bg-main bg-opacity-80 absolute z-30"></div>
  <div class="relative z-50 header-container pt-12">
    <p class="header text-7xl font-black py-20 z-50 whitespace-nowrap">
      Why choose us...
    </p>
  </div>

  <div class="mt-4 pb-32 relative z-50 px-20">
    <p class="text-2xl text-fab-red font-black">Our Suppliers</p>
    <p class="mt-4 text-2xl text-white leading-10">
      Fabmatic Trading carefully chooses the manufacturers who are keen on
      continuous innovation and adopting cutting-edge design & technology. Our
      principal suppliers are the World's leading companies having decades of
      experience. We choose products that are technically advanced, affordable,
      energy−efficient, and long−lasting.
    </p>

    <p class="text-2xl text-fab-red font-black mt-8">Our Solutions</p>
    <p class="mt-4 text-2xl text-white leading-10">
      A wealth of expertise combined with a passion for always meeting Customer
      requirements provides us with continued success. This approach combined
      with our attention to quality and reliability drives us to constantly
      improve our service and exceed customer expectations.
    </p>

    <p class="text-2xl text-fab-red font-black mt-8">After Sales Service</p>
    <p class="mt-4 text-2xl text-white leading-10">
      Fabmatic Group provides after-sales services like repairing, maintenance,
      and customer problems using abundant experience, knowledge, and recent
      technologies. Our after−sales service makes it possible for customers to
      do an optimum operation, reducing maintenance costs, and extend the life
      cycle of machines.
    </p>

    <p class="text-2xl text-fab-red font-black mt-8">Genuine Spares</p>
    <p class="mt-4 text-2xl text-white leading-10">
      We always keep most of the spare parts in stock. We supply spare parts to
      all kinds of laundry, dry cleaning & finishing equipment brands. Our spare
      parts meet the highest quality standards and have been manufacturing by
      the best companies in the industry. We ensure you will get your ordered
      spare parts in time.
    </p>
  </div>
</div>
