.header {
  -webkit-text-stroke: 4px white;
  -webkit-text-fill-color: transparent;
  font-size: 126px;
  font-style: italic;
  font-family: sans-serif;
  position: relative;
  display: inline-flex;
  margin-left: 80%;
  transform: translateX(-80%);
  // white-space: nowrap;
}

.header::before {
  content: "";
  position: absolute;
  height: 12rem;
  width: 12rem;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100%;
  z-index: 0;
  background-color: #e86a6a;
  z-index: -1;
}

.main-section {
  background-image: url("../../assets/why-choose-us_page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

@media screen and (max-width: 1420px) {
  .header {
    font-size: 118px;
  }
}

@media screen and (max-width: 1380px) {
  .header {
    font-size: 113px;
  }
}

@media screen and (max-width: 1276px) {
  .header {
    font-size: 111px;
  }
}

@media screen and (max-width: 1200px) {
  .header {
    font-size: 106px;
  }
}

@media screen and (max-width: 1100px) {
  .header {
    font-size: 100px;
  }
}

@media screen and (max-width: 700px) {
  .header {
    -webkit-text-stroke: 3px white;
  }
}
@media screen and (max-width: 750px) {
  .header {
    margin-left: 1rem;
    transform: translateX(0);
  }
}

@media screen and (max-width: 500px) {
  .header {
    -webkit-text-stroke: 2.5px white;
  }
}

@media screen and (max-width: 470px) {
  .header {
    font-size: 44px !important;
  }
  .header::before {
    height: 9rem;
    width: 9rem;
  }
  .header {
    -webkit-text-stroke: 2px white;
  }
}

@media screen and (max-width: 400px) {
  .header {
    left: 0rem !important;
  }
}
