<div class="overflow-hidden">
  <div class="relative z-50 header-container">
    <p class="header text-7xl font-black">
      <span class="wh_class ml-4">Ou</span
      ><span class="ou_class">r products...</span>
    </p>
  </div>

  <div class="mt-44 px-28 py-10">
    <div
      class="min-h-max bg-white border-2 border-fab-maroon border-opacity-50 rounded-2xl relative"
    >
      <p
        class="absolute -top-7 left-6 px-6 py-2 bg-white text-fab-maroon text-2xl flex items-center gap-6"
      >
        <img src="../../assets/sidi_logo.png" class="w-10" alt="" /> Laundry
        Press <span class="text-sm ml-2 italic">#LV 800 Series</span>
      </p>
      <div class="flex lv_container">
        <div class="flex flex-col gap-6 items-center p-10">
          <img src="../../assets/products/LV800U.jpeg" alt="" />
          <p class="text-xl text-fab-maroon font-bold">LV-800-U</p>
        </div>
        <div class="flex flex-col gap-6 items-center p-10">
          <img src="../../assets/products/LV800-UP.jpeg" alt="" />
          <p class="text-xl text-fab-maroon font-bold">LV-800-UP</p>
        </div>
        <div class="flex flex-col gap-6 items-center p-10">
          <img src="../../assets/products/LV800-P.jpeg" alt="" />
          <p class="text-xl text-fab-maroon font-bold">LV-800-P</p>
        </div>
        <div class="flex flex-col gap-6 items-center p-10">
          <img src="../../assets/products/LV800-R1.jpeg" alt="" />
          <p class="text-xl text-fab-maroon font-bold">LV-800-R1</p>
        </div>

        <div class="flex flex-col gap-6 items-center p-10">
          <img src="../../assets/products/LV800-R2.jpeg" alt="" />
          <p class="text-xl text-fab-maroon font-bold">LV-800-R2</p>
        </div>
        <div class="flex flex-col gap-6 items-center p-10">
          <img src="../../assets/products/LV800-F.jpeg" alt="" />
          <p class="text-xl text-fab-maroon font-bold">LV-800-F</p>
        </div>
        <div class="flex flex-col gap-6 items-center p-10">
          <img src="../../assets/products/LV800-BB.jpeg" alt="" />
          <p class="text-xl text-fab-maroon font-bold">LV-800-BB</p>
        </div>

        <div class="flex flex-col gap-6 items-center p-10">
          <img src="../../assets/products/LV800-CT-CP.jpeg" alt="" />
          <p class="text-xl text-fab-maroon font-bold">CT-CP</p>
        </div>
        <div></div>
      </div>
    </div>

    <div
      class="min-h-max bg-white border-2 border-fab-maroon border-opacity-50 rounded-2xl relative mt-20"
    >
      <p
        class="absolute -top-7 left-6 px-6 py-2 bg-white text-fab-maroon text-2xl flex items-center gap-6"
      >
        <img src="../../assets/sidi_logo.png" class="w-10" alt="" /> Dry
        Cleaning Press
      </p>
      <div class="flex items-center lv_container">
        <div class="flex flex-col gap-6 items-center p-10">
          <img src="../../assets/products/AT-770-U-Special.png" alt="" />
          <p class="text-xl text-fab-maroon font-bold">AT-770-U</p>
        </div>
        <div class="flex flex-col gap-6 items-center p-10">
          <img src="../../assets/products/AT-770-UP.jpeg" alt="" />
          <p class="text-xl text-fab-maroon font-bold">AT-770-UP</p>
        </div>
        <div class="flex flex-col gap-6 items-center p-10">
          <img src="../../assets/products/AT-770-UP-Special.png" alt="" />
          <p class="text-xl text-fab-maroon font-bold">AT-770-UP-Special</p>
        </div>
        <div class="flex flex-col gap-6 items-center p-10">
          <img src="../../assets/products/AT-770-US.jpg" alt="" />
          <p class="text-xl text-fab-maroon font-bold">AT-770-US</p>
        </div>
        <div></div>
        <div></div>
      </div>
    </div>

    <div
      class="min-h-max bg-white border-2 border-fab-maroon border-opacity-50 rounded-2xl relative mt-20"
    >
      <p
        class="absolute -top-7 left-6 px-6 py-2 bg-white text-fab-maroon text-2xl flex items-center gap-6"
      >
        <img src="../../assets/sidi_logo.png" class="w-10" alt="" /> Form
        Finisher
      </p>
      <div class="flex items-center lv_container_one">
        <div class="flex flex-col gap-6 items-center p-10">
          <img src="../../assets/products/M3000.jpeg" alt="" />
          <p class="text-xl text-fab-maroon font-bold">Easy Form 3000</p>
        </div>
        <div class="flex flex-col gap-6 items-center p-10">
          <img src="../../assets/products/M2000.jpg" alt="" />
          <p class="text-xl text-fab-maroon font-bold">Easy Form 2000</p>
        </div>
        <div class="flex flex-col gap-6 items-center p-10">
          <img src="../../assets/products/M-781.png" alt="" />
          <p class="text-xl text-fab-maroon font-bold">M-781</p>
        </div>
        <div></div>
      </div>
    </div>

    <div
      class="min-h-max bg-white border-2 border-fab-maroon border-opacity-50 rounded-2xl relative mt-20"
    >
      <p
        class="absolute -top-7 left-6 px-6 py-2 bg-white text-fab-maroon text-2xl flex items-center gap-6"
      >
        <img src="../../assets/sidi_logo.png" class="w-10" alt="" /> Ironing
        Board
      </p>
      <div class="flex items-center lv_container">
        <div class="flex flex-col gap-6 items-center p-10">
          <img src="../../assets/products/TA-79.jpg" alt="" />
          <p class="text-xl text-fab-maroon font-bold">TA-79</p>
        </div>
        <div class="flex flex-col gap-6 items-center p-10">
          <img src="../../assets/products/FC-902.jpg" alt="" />
          <p class="text-xl text-fab-maroon font-bold">FC-902</p>
        </div>
        <div class="flex flex-col gap-6 items-center p-10">
          <img src="../../assets/products/Venus-R.jpeg" alt="" />
          <p class="text-xl text-fab-maroon font-bold">Venus-R</p>
        </div>
        <div></div>
      </div>
    </div>

    <div
      class="min-h-max bg-white border-2 border-fab-maroon border-opacity-50 rounded-2xl relative mt-20"
    >
      <p
        class="absolute -top-7 left-6 px-6 py-2 bg-white text-fab-maroon text-2xl flex items-center gap-6"
      >
        Laundry Machine Spares
      </p>
      <div class="flex flex-col">
        <div class="flex lv_container_two">
          <div class="flex items-center p-10">
            <div class="mt-4 relative spare">
              <img
                class="rounded-2xl h-52"
                src="../../assets/products/spares/50Nomex50Polyster.jpeg"
                alt=""
              />
              <p
                class="text-xl text-white font-bold absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-center z-50"
              >
                50% Nomex & 50% Polyster Padding
              </p>
            </div>
          </div>

          <div class="flex items-center p-10">
            <div class="mt-4 relative spare">
              <img
                class="rounded-2xl h-52"
                src="../../assets/products/spares/100polyster.jpg"
                alt=""
              />
              <p
                class="text-xl text-white font-bold absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-center z-50"
              >
                100% Polyster Chest Ironer Padding
              </p>
            </div>
          </div>

          <div class="flex items-center p-10">
            <div class="mt-4 relative spare">
              <img
                class="rounded-2xl h-52"
                src="../../assets/products/spares/ChestIronerWax.jpg"
                alt=""
              />
              <p
                class="text-xl text-white font-bold absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-center z-50"
              >
                Chest Ironer Wax
              </p>
            </div>
          </div>

          <div class="flex items-center p-10">
            <div class="mt-4 relative spare">
              <img
                class="rounded-2xl h-52"
                src="../../assets/products/spares/100Nomex.png"
                alt=""
              />
              <p
                class="text-xl text-white font-bold absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-center z-50"
              >
                100% Nomex Padding
              </p>
            </div>
          </div>

          <div class="flex items-center p-10">
            <div class="mt-4 relative spare">
              <img
                class="rounded-2xl h-52"
                src="../../assets/products/spares/belt copy.png"
                alt=""
              />
              <p
                class="text-xl text-white font-bold absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-center z-50"
              >
                Flat Work Ironer Belt
              </p>
            </div>
          </div>

          <div class="flex items-center p-10">
            <div class="mt-4 relative spare">
              <img
                class="rounded-2xl h-52"
                src="../../assets/products/spares/guideTape.jpg"
                alt=""
              />
              <p
                class="text-xl text-white font-bold absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-center z-50"
              >
                Flat work ironer - Guide Tape
              </p>
            </div>
          </div>

          <div class="flex items-center p-10">
            <div class="mt-4 relative spare">
              <img
                class="rounded-2xl h-52"
                src="../../assets/products/spares/Ironersprings copy.png"
                alt=""
              />
              <p
                class="text-xl text-white font-bold absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-center z-50"
              >
                Chest Ironer Spring
              </p>
            </div>
          </div>

          <div class="flex items-center p-10">
            <div class="mt-4 relative spare">
              <img
                class="rounded-2xl h-52"
                src="../../assets/products/spares/FolderBelts.jpg"
                alt=""
              />
              <p
                class="text-xl text-white font-bold absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-center z-50"
              >
                Folder Belts
              </p>
            </div>
          </div>

          <div class="flex items-center p-10">
            <div class="mt-4 relative spare">
              <img
                class="rounded-2xl h-52"
                src="../../assets/products/spares/padding.jpg"
                alt=""
              />
              <p
                class="text-xl text-white font-bold absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-center z-50"
              >
                Pressing Machine Padding
              </p>
            </div>
          </div>

          <div class="flex items-center p-10">
            <div class="mt-4 relative spare">
              <img
                class="rounded-2xl h-52"
                src="../../assets/products/spares/Thermopatch.jpg"
                alt=""
              />
              <p
                class="text-xl text-white font-bold absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-center z-50"
              >
                Thermopatch accessories
              </p>
            </div>
          </div>

          <div class="flex items-center p-10">
            <div class="mt-4 relative spare">
              <img
                class="rounded-2xl h-52"
                src="../../assets/products/spares/clothing.jpg"
                alt=""
              />
              <p
                class="text-xl text-white font-bold absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-center z-50"
              >
                Pressing Machine Clothing
              </p>
            </div>
          </div>

          <div class="flex items-center p-10">
            <div class="mt-4 relative spare">
              <img
                class="rounded-2xl h-52"
                src="../../assets/products/spares/wax_cloth.jpg"
                alt=""
              />
              <p
                class="text-xl text-white font-bold absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-center z-50"
              >
                Chest Ironer Wax Cloth
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
