<section class="min-h-screen w-screen bg-main relative grid overflow-hidden">
  <div class="absolute top-8 left-8 flex items-center gap-24 nav_bar z-50">
    <img src="../assets/logo.svg" alt="" class="w-12 logo" />
    <div>
      <ul class="flex gap-10 text-text-g">
        <li (click)="scroll(home)">Home</li>
        <li (click)="scroll(about)">About</li>
        <li (click)="scroll(whyUs)">Overview</li>
        <li (click)="scroll(whatWeDo)">Services</li>
        <li (click)="scroll(ourProducts)">Products</li>
        <li (click)="scroll(whyChooseUs)">Quality</li>
        <li (click)="scroll(footer)">Contact us</li>
      </ul>
    </div>
    <div class="menu">
      <img src="../assets/menu.svg" alt="" (click)="openMenu()" />
    </div>
  </div>

  <div class="absolute right-0 top-0 bg_img">
    <img src="../assets/curve.svg" alt="" class="min-h-screen" />
  </div>

  <div
    #home
    class="flex items-center justify-between py-20 pl-10 gap-10 home_container"
  >
    <div class="text-white home_content flex flex-col gap-28">
      <p class="text-9xl mt-20 font-black title">
        Fabmatic <br />
        Trading WLL
      </p>
      <p class="text-6xl font-medium pl-2 italic leading-normal sub_title">
        Laundry & Dry Cleaning <br />
        Equipment
      </p>
      <div class="pl-4 flex gap-10 items-center">
        <div class="h-12 w-1 bg-red-400 line"></div>
        <p
          class="flex items-center gap-4 text-xl px-6 py-2 bg-red-400 rounded-full"
          (click)="scroll(about)"
        >
          Know more
          <img src="../assets/arrow-right.svg" alt="" class="w-4" />
        </p>
      </div>
    </div>
    <div class="home_img" style="width: 39vw">
      <img src="../assets/home_img.png" alt="" class="z-30 relative" />
    </div>

    <!-- Menu Container -->

    <div
      *ngIf="openMenuContainer"
      class="absolute top-0 left-0 h-full w-full bg-black bg-opacity-50 z-40 backdrop-blur-sm menuContainer"
      (click)="openMenuContainer = false"
    ></div>
    <div
      class="absolute top-0 w-4/6 h-screen z-40 flex justify-center items-center transition-all duration-500 delay-75 menuContainer"
      style="
        background-image: linear-gradient(
          to bottom,
          #f87171,
          #eb6767,
          #de5e5e,
          #d25454,
          #c54b4b
        );
      "
      [ngClass]="openMenuContainer ? 'right-0' : 'translateRight'"
    >
      <img
        src="../assets/close.svg"
        class="absolute top-10 left-6"
        alt=""
        (click)="openMenuContainer = false"
      />
      <div class="z-50 text-white flex flex-col gap-10 text-4xl relative">
        <p (click)="scroll(home)">Home</p>
        <p (click)="scroll(about)">About</p>
        <p (click)="scroll(whyUs)">Overview</p>
        <p (click)="scroll(whatWeDo)">Services</p>
        <p (click)="scroll(ourProducts)">Products</p>
        <p (click)="scroll(whyChooseUs)">Quality</p>
        <p (click)="scroll(footer)">Contact us</p>
      </div>
    </div>
  </div>
</section>
<div #about>
  <app-about-section></app-about-section>
</div>
<div #whyUs>
  <app-why-us-section></app-why-us-section>
</div>
<div #whatWeDo>
  <app-what-we-do-section></app-what-we-do-section>
</div>
<div #ourProducts>
  <app-our-products-section></app-our-products-section>
</div>
<div #whyChooseUs>
  <app-why-choose-us></app-why-choose-us>
</div>
<div #footer>
  <app-footer></app-footer>
</div>
