ul li {
  transition: all 0.3s ease;
  cursor: pointer;
}

ul li:hover {
  color: white;
}

.menu {
  display: none;
}

.translateRight {
  right: -50rem;
}
.menuContainer {
  display: none;
}

@media screen and (max-width: 570px) {
  .menuContainer {
    display: flex;
  }
  ul {
    display: none;
  }
  .logo {
    width: 4rem;
  }
  .menu {
    display: block;
    margin-right: 4rem;
  }
  .nav_bar {
    justify-content: space-between;
    width: 100%;
    z-index: 1;
  }
}

@media screen and (max-width: 400px) {
  .home_content .title {
    font-size: 56px !important;
  }
  .sub_title {
    font-size: 26px !important;
  }
}
