<div class="py-36">
  <div class="relative z-50 header-container">
    <p class="header text-7xl font-black">
      <span class="wh_class">Wh</span><span class="yClass">y us...</span>
    </p>
  </div>

  <div class="flex gap-10 relative pt-32 px-20 card_container">
    <div
      class="flex flex-col gap-10 items-center bg-gray-300 border-2 border-white bg-opacity-30 py-6 rounded-3xl card w-4/6 z-50"
    >
      <img src="../../assets/coins.png" alt="" class="w-40" />
      <p class="text-fab-maroon text-center px-4">
        Fabmatic groups offers bespoke solution to help our customer to reduce
        operating cost and energy consumption.
      </p>
    </div>
    <div
      class="flex flex-col gap-10 items-center bg-gray-300 border-2 border-white bg-opacity-30 py-6 rounded-3xl card w-4/6 z-50"
    >
      <img src="../../assets/handshake.png" alt="" class="h-40" />
      <p class="text-fab-maroon text-center px-4">
        We partner with the world’s best laundry machine manufacturing companies
        that deliver high-quality products with advanced technology.
      </p>
    </div>
    <div
      class="flex flex-col gap-10 items-center bg-gray-300 border-2 border-white bg-opacity-30 py-6 rounded-3xl card w-4/6 z-50"
    >
      <img src="../../assets/target.png" alt="" class="w-40" />
      <p class="text-fab-maroon text-center px-4">
        Fabmatic groups provides tailor-made solutions and our experience
        ensures that our customers receive the best solutions at an affordable
        cost.
      </p>
    </div>

    <div
      class="flex flex-col gap-10 items-center bg-gray-300 border-2 border-white bg-opacity-30 py-6 rounded-3xl card w-4/6 z-50"
    >
      <img src="../../assets/innovative.png" alt="" class="w-40" />
      <p class="text-fab-maroon text-center px-4">
        We create highly functional, innovative facilities that help our clients
        enhance profitability and deliver superior laundry services to their
        clients.
      </p>
    </div>
    <div
      class="absolute -top-10 right-10 bg-fab-red h-60 w-60 rounded-full z-20"
    ></div>
    <div
      class="absolute h-16 w-16 left-2/4 top-1/2 rounded-full bg-fab-red -z-20"
    ></div>
    <div
      class="absolute h-96 w-96 -left-40 -bottom-40 rounded-full bg-fab-red -z-20"
    ></div>
  </div>
</div>
