<div class="w-screen main-section relative">
  <div class="h-full w-screen bg-main bg-opacity-80 absolute z-30"></div>
  <div class="relative z-50 header-container pt-12">
    <p class="header text-7xl font-black py-20 z-50">
      Who we are...
      <span class="wh_class"> </span>
    </p>
    <div class="pt-10 pb-36 px-20 text-white text-3xl about-text_container">
      We are a group of engineers and a management team having more than 15
      years of experience in the laundry dry cleaning industry.
      <p class="mt-6">
        Fabmatic Trading WLL is an expert in the laundry industry with a team
        with vast expertise in engineering, operational and financial aspects.
        We provide turn-key customised solutions for new projects as well as
        existing operations.
      </p>

      <p class="mt-6">
        We understand the laundry industry intimately and have developed various
        kinds of solutions to satisfy the diverse needs of the customers. Our
        solutions address Energy, Ergonomics, Automation, Production, Quality,
        which are essential to maintain safe, productive, and quality−oriented
        workplaces. As the laundry industry moves more towards systems and not
        just simple machines, Fabmatic Group assists our customers in making
        sound decisions with realistic expectations.
      </p>

      <p class="mt-6">
        We bring together the best manufacturers and a team of world-class
        specialists to help laundry and dry-cleaning businesses to reduce their
        costs, improve their efficiency, and ultimately increases profitability.
      </p>
    </div>
  </div>
</div>
